NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Stripe
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_BASIC_PRICE_ID=price_1TmRLwFzLArYVPDImP3FdgVf
STRIPE_STARTER_PRICE_ID=price_1TmRN4FzLArYVPDIk2jgsUUO
STRIPE_PRO_PRICE_ID=price_1TmRN4FzLArYVPDIyaheidt8
